= render :partial => "layouts/header_menu"
= render :partial => "top_page"
= render :partial => "mission_page"
= render :partial => "activity_page"
= render :partial => "member_page"
= render :partial => "history_page"
= render :partial => "news_page"
= render :partial => "contact_page"
