.site-header{
  position: fixed;

  @media screen and (max-width: 992px) {
    .brand-logo {
      $margin-left: 100px;
    }
  }

  ul{
    margin-right: 70px;

    a{
      color: #333333;
      font-size: 12px;
      font-family: Verdana;
    }

    .material-icons {
      color: pink;
    }
  }
}

.top-container{
  height: 850px;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-position: center;
  background-image: url("/images/top_background.png");
  background-color: #333333;

  .css-fade1{
    // アニメーション設定
    animation-name:fade-in;
    animation-duration:2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay:1s; //アニメーション開始させる時間
    animation-iteration-count:1; //繰り返し回数
    animation-direction:normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか

  }

  // アニメーション
  @keyframes fade-in {
    0% {opacity: 0; transform: translate3d(0,20px,0);}
    100% {opacity: 1; transform: translate3d(0,0,0);}
  }

  img {
    width:100%;
    max-width:40vw;
    padding: 25% 0;

  }

  .sub-title{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;

    width:100%;
    max-width:40vw;
    height:auto;
  }
}

.vision-container{
  background-position: center;
  height: 100%;
  width: 100%;
  background-size:cover;
  padding-top: 60px;
  padding-bottom: 60px;

  .inner-section{
    margin-bottom: 60px;
    h2{
      margin: 0;
    }
  }

  .left-section{
    img {
      width: 500px;
      height: 525px;
      margin: 0;
    }
  }

  .right-section{
    h5{
      margin: 0;
    }
  }

  .story-section{
    font-size: 13px;
    font-weight: bold;
  }
}

.activity-container{
  background-position: center;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-color: #FFB432;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;

  .inner-section{
    margin-bottom: 60px;
    h2{
      margin: 0;
      color: white;
    }
  }

  .left-section{
    img {
      width: 500px;
      height: 400px;
      margin: 0;
    }
  }

  .right-section{
    h4{
      margin: 0;
    }
  }

  .story-section{
    font-size: 13px;
    font-weight: bold;
  }
}

.member-container{
  background-position: center;
  width: 100%;
  background-size:cover;
  text-align: center;

  .inner-section{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;

    h2{
      margin: 0;
    }
  }
  .main-secction{
    .core-member-profile{
      text-align: center;
      display:inline-block;
      margin: 20px;
    }

    .member-sns{
      margin-top: 20px;
      text-align: center;
      .sns-icon{
        margin: 5px;
        display:inline-block;
      }
    }

    h5{
      margin: 0;
      // color: white;
    }
  }
}

.history-container{
  background-position: center;
  height: 1100px;
  background-size:cover;
  background-color: #FAFAFA;
  text-align: center;

  .inner-section{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;

    h2{
      margin: 0;
    }
  }

  .main-secction{
    margin-top: 20px;

  }

  .story-section{
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
  }
  .movie-section{
    margin-top: 40px;
  }
}

.news-container{
  background-position: center;
  height: 100%;
  width: 100%;
  background-size:cover;
  text-align: center;

  .inner-section{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;

    h2{
      margin: 0;
    }
  }

  .main-section{

    .news-content{
      padding-top: 20px;
      margin-top: 40px;

      .news-timezone{
      h6{
        padding-top: 15px;
        padding-bottom: 15px;
      }
      }
      .news-title{
        margin: 10px;
      }
      .news-link{
        padding-top: 5px;
        padding-bottom: 30px;
        a{
          color: azure;
        }
      }
    }
  }

  .news-index-link{
    a{
      color: azure;
    }
  }
}

.contact-container{
  background-position: center;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-color: #FAFAFA;
  padding-bottom: 60px;


  .inner-section{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;

    h2{
      margin: 0;
    }
  }

  .main-section{
    color: white;

    i{
      text-align: center;
    }
  }
}